.App {
  text-align: center;
  background-color: #3c8536;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header.PricePredictor {
  
  background-color:#1b0c3c
}

.App-header {
  background-image: url("E:\IIT\4th Year\FYP\Application\a3.webp");
  height: 140%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: #fff;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 3vmin);
  color: #0e3672;
  font-weight: bold;
  height: 110%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
